<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
  background-color: #333;
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
</style>
</head>
<body>
<h1>Đã gửi thư mời, vui lòng kiểm tra hòm thư của bạn.</h1>
</body>
